@import url('init.css');

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   background: #fafbfc;
}

.root {
   display: flex;
   height: 100%;
   width: 60%;
}

.sidebar {
   padding: 15px;
   border-left: none;
   flex-basis: 20%;
   border-right: 1px solid gray;
}

.sidebar > a:first-child {
   display: flex;
   flex-direction: column;
   width: 55px;
   height: 55px;
   padding: 0;
   border-radius: 27.5px;
   transition: background .2s, box-shadow .2s;
}

.sidebar img {
   width: 60%;
}

.sidebar .menu {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 30px;
   height: 70%;
}

.sidebar a {
   margin-bottom: 5px;
   height: 50px;
   border-radius: 25px;
}

.sidebar .menu a:last-child {
   width: 90%;
   margin-top: 30px;
   align-self: center;
}

.sidebar > button, .sidebar > a {
   margin-bottom: 15px;
   width: 95%;
}

main {
   padding: 30px;
   flex-basis: 80%;
}

main h1, main h2, main h3 {
   margin: 5px 0 15px 0;
   padding: 5px;
   border-bottom: 4px solid var(--main-color-trnp);
}

main h2, main h3 {
   display: inline-block;
   border-bottom: none;
}

main h2 {
   font-size: 25px;
}

main h3 {
   font-size: 22px;
}