@import url('base.css');

.load {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: filter .2s;
}

.load.hidden {
    height: 0;
}

.sidebar .menu {
    align-items: flex-start;
}

.sidebar .menu a:last-child {
    width: unset;
    margin-top: unset;
    align-self: unset;
}

a.pref-menu {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: none !important;
    cursor: pointer;
    transition: color .15s;
}

a.pref-menu.current {
    color: var(--main-color);
}

.sidebar .menu .bar {
    position: absolute;
    background: var(--main-color);
    width: 2px;
    height: 18px;
    border-radius: 1px;
    margin-top: 16px;
    margin-right: 5px;
    transition: height .15s, margin-top .15s;
}

form .input {
    margin-top: 20px;
}